In [42]:
import matplotlib.pyplot as plt
from sklearn import linear_model
import pandas as pd

In [31]:
df = pd.read_csv('RIL.csv')

In [39]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,RELIANCE,EQ,18-Sep-2017,841.80,850.0,851.05,843.10,845.20,845.55,847.17,2314174,1.960494e+09,57137,918028,39.67
1,RELIANCE,EQ,19-Sep-2017,845.55,848.7,848.75,837.00,839.00,838.60,839.69,3528729,2.963056e+09,56976,2171370,61.53
2,RELIANCE,EQ,20-Sep-2017,838.60,856.1,872.50,845.10,848.00,847.15,855.91,11402965,9.759876e+09,147419,5286400,46.36
3,RELIANCE,EQ,21-Sep-2017,847.15,847.0,851.70,836.25,842.95,841.35,841.76,5920552,4.983709e+09,81741,3689024,62.31
4,RELIANCE,EQ,22-Sep-2017,841.35,839.9,839.90,813.20,816.95,817.40,824.67,5620443,4.635016e+09,97574,2686568,47.80

In [70]:
dfPlot = pd.DataFrame(df, columns=['Prev Close','Close Price'])
dfPlot.head()
#dfPlot.plot(x='Prev Close', y= 'Close Price', kind ='scatter')

   Prev Close  Close Price
0      841.80       845.55
1      845.55       838.60
2      838.60       847.15
3      847.15       841.35
4      841.35       817.40

903.51

array([900.52432762])